<div class="list-of-products shadow mt-5"  style="display: none;">
    <div class="row">
        <div class="col-12">
            <div class="alert m-0">
                <h2>Ihre Einkaufsliste</h2>
                <button class="btn btn-primary" id="show-menu" style="display: none;">Das Speiseplan einzeigen</button>
                <div class="result-text"></div>
                <div class="print-result row">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary" id="liste-print">Die Einkaufsliste ausdrucken</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
