<div class="lightbox" style="display: none;"></div>
<div class="modal fade show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-danger hide-modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
<script src="js/script.min.js" type="application/javascript"></script>
</body>
</html>
